.card {
  margin: 1rem 0;
  text-align: center;
}

.price {
  font-size: 1.5rem;
  color: tomato;
}

.title {
  margin: 5px 0;
}

.btn {
  width: 75%;
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
}
