.header {
  padding: 1.1rem;
  border-bottom: 1px solid #000;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0.3rem;
}

.nav-item + .nav-item {
  margin-left: 3rem;
}

.nav-link {
  color: #000;
  text-transform: uppercase;
  display: flex;
}

.nav-link:hover {
  opacity: 0.5;
}

.icon {
  font-size: 1.3rem;
}

.productsNumber {
  margin-left: 0.4rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }
}
