<header class="header">
  <div class="container">
    <div class="row">
      <a>
        <h3 class="logo">
          <a routerLink="/home" routerLinkActive="router-link-active"
            >ShoppingSite</a
          >
        </h3>
      </a>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a
              routerLink="/home"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/checkout"
              routerLinkActive="router-link-active"
              ><i class="fa fa-shopping-cart icon"></i>
              <p class="productsNumber">
                {{ productsLength }}
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
