<section>
  <div class="filter">
    <input
      class="filterInput"
      type="text"
      placeholder="search"
      [(ngModel)]="filterText"
    />
  </div>
  <div class="container">
    <div
      class="card"
      *ngFor="let product of products | productFilter: filterText"
    >
      <div
        class="image"
        routerLink="/products/{{ product.id }}"
        routerLinkActive="router-link-active"
      >
        <img class="img" [src]="product.image" alt="" />
      </div>
      <div class="content">
        <p class="price">{{ product.price }} TL</p>
        <h3 class="title">{{ product.title }}</h3>
        <button class="btn" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</section>
