.wrapper {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.category-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.category-item {
  background-color: bisque;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}
