.wrapper {
  background: bisque;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}

.amount {
}

.totalPrice {
}

.btn {
  padding: 0.5em;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}
