.section {
  padding: 3rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.products {
  flex-basis: 70%;
}

.subtotal {
  flex-basis: 30%;
  font-size: 1.5rem;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.empty {
  text-align: center;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .subtotal {
    text-align: center;
    padding: 0;
    min-width: 100px;
  }
}
