<section class="section">
  <div class="container">
    <h1 class="title">Shopping Cart</h1>
    <div class="flex">
      <div class="products">
        <div *ngIf="productsLength != 0">
          <app-checkout-products
            [checkoutProducts]="items"
            (deleteEvent)="deleteEventHandler($event)"
          ></app-checkout-products>
        </div>
        <div class="empty" *ngIf="productsLength == 0">
          <p class="info">no items here</p>
          <button class="btn" routerLink="/products">Go to Shopping</button>
        </div>
      </div>
      <div class="subtotal" *ngIf="productsLength != 0">
        <app-checkout-total></app-checkout-total>
      </div>
    </div>
  </div>
</section>
