.card {
  display: flex;
  padding: 1rem 0;
}

.card + .card {
  border-top: 1px solid #000;
}

.image {
  height: 200px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;

  .img {
    width: 40%;
    min-width: 100px;
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: beige;
  flex-grow: 1;
  flex-basis: 60%;
}

.subcontent {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 0.5rem;

  .btn {
    padding: 0.25em;
    background: teal;
    color: white;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .price {
    text-align: right;
    font-size: 1.3rem;
    color: tomato;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 100px;
  }

  .image {
    padding: 1rem;

    .img {
      width: 25%;
      min-width: 100px;
    }
  }

  .content {
    padding: 0;

    .title {
      padding: 0.5rem;
    }

    .desc {
      padding: 0.5rem;
    }
  }

  .subcontent {
    flex-direction: column;

    .btn {
      background: teal;
      color: white;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
    }

    .price {
      margin-top: 0.5rem;
      text-align: center;
    }
  }
}
